<div style='display:flex;margin-top:5%'>
  <p style='margin-left:20%;color:white;font-size:50px;width:60%'>
    You will have the best shopping experience with us, good luck and stay safe!</p>
  <img src='images/shopping_image.png' style='margin-right:20%' alt='' /></div>