<style>
    .scrollable-container {
        overflow: scroll;
        scrollbar-width: none; /* Firefox */
        -ms-overflow-style: none; /* Internet Explorer and Edge */
    }

    .scrollable-container::-webkit-scrollbar {
        display: none; /* Chrome, Safari, and Opera */
    }
</style>

<body class="scrollable-container">
<div style='display:flex;align-items:center;background-color:lightblue'>
  <p style='font-size: 25px;font-style:bold;width:70%'>Welcome to {{title}}</p>
  <div style='width:15%;display:flex;align-items:center'><button
      onclick="window.location.href='https://coral-camel-wear.cyclic.app//mensClothing';"
      style='width:150px;height:50px;font-size:medium;border-radius:50px;background-color:rgb(193, 189, 193);cursor:pointer'
    >Men's Clothing</button></div>
  <button
    onclick="window.location.href='https://coral-camel-wear.cyclic.app//womansClothing';"
    style='width:150px;height:50px;font-size:medium;border-radius:50px;background-color:rgb(193, 189, 193);cursor:pointer'
  >Woman's clothing</button>
</div>
<div style='display:flex;align-items:center;font-size:25px'>
  {{#each currentUrl}}
    <a href='{{this.link}}'>{{this.name}}</a>
    <bold><pre> / </pre></bold>
  {{/each}}
</div>
{{> footer}}