{{!-- prettier-ignore --}}
<style>
     body{
  background:linear-gradient(60deg,lightgreen,lightblue) 
  } 
   
   .container{
    background-color:linear-gradient(60deg,lightgreen,lightblue); 
    position:relative;
  top:35%;
  margin-left:50%;
  transform:translate(-50%,-50%);
  width:50%;
  height:300px;
  box-shadow: 0 5px 25px 10px rgb(255 255 255/90%);;
 }
  
  .registration{
    position: relative;
    top:10px;
  display:flex;
  justify-content: space-around ;
   }

 form{display:flex;
 flex-direction:column;
 margin-top:5%;
align-items:center
 }
 label{
text-align: center;

 }

input{
border-radius:50px;
height:30px;
}

.buttons{
  box-shadow: 0 8px 8px 0 rgba(1, 1, 1, 0.1), 0 17px 50px 0 rgba(0,0,0,0.19);
background-color:rgb(193, 189, 193);
cursor:pointer;
  transition: 0.6s ease;
  border-radius:40px;
  text-align:center;
  }
.buttons:hover{
  box-shadow: 0 8px 8px 0 rgba(255, 255, 255, 0.40)
}
.block{
display:flex;
flex-direction:column;
width:40%;
}

.error-placeholder::placeholder{

  color:red;
}

</style>
{{> indexRegister}}
<input type='hidden' id='myHiddenValue' value='{{homePageUrl}}' />
<body>
  <div class='container'>
    <div class='registration'>
      <button
        id='signup-btn'
        style='width:100px;height:40px'
        class='buttons'
      >Sign Up</button>
      <button
        id='login-btn'
        style='width:100px;height:40px'
        class='buttons'
      >Login</button>
    </div>
    <form>
      <div id='email-container' class='block'>
        <label>Email:</label>
        <input type='email' id='emailInput' placeholder='example@example.com' />
      </div>
      <div class='block'>
        <label>Username:</label>
        <input type='text' id='usernameInput' placeholder='Username' />
      </div>
      <div class='block'>
        <label>Password:</label>
        <input type='password' id='passwordInput' placeholder='Password' />
      </div>
      <div style='position:absolute;bottom:10px;'>
        <button class='buttons' id='bottomButton'>Sign Up</button>
      </div>
    </form>
  </div>
  {{!-- prettier-ignore --}}
  <script>
  const signUpBtn = document.getElementById('signup-btn'); 
  const loginBtn = document.getElementById('login-btn'); 
  const emailContainer = document.getElementById('email-container');
  const bottomButton = document.getElementById("bottomButton");
  const emailInput = document.getElementById('emailInput');
  const usernameInput = document.getElementById('usernameInput');
  const passwordInput = document.getElementById('passwordInput');
  const showPasswordCheckbox = document.getElementById('showPassword');
  const myHbsVariable = document.getElementById('myHiddenValue').value;
  let usersArray = [];
  let validCredentials = false;
  let emailPattern = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
  let validEmail = false;
  let validUsername = false;
  let validPassword = false;
  signUpBtn.addEventListener('click', () => {
    if (emailContainer.style.display === 'none') { 
      emailContainer.style.display = 'flex';
      bottomButton.style.display = 'flex';
      bottomButton.textContent = 'Sign Up';
      passwordInput.value='';
      emailInput.value=''
    usernameInput.value='';
    passwordInput.classList.remove('error-placeholder');
    usernameInput.classList.remove('error-placeholder');
     emailInput.classList.remove('error-placeholder');
usernameInput.placeholder='Username';
passwordInput.placeholder='Password';
emailInput.placeholder='E-mail';
    }
  });

  loginBtn.addEventListener('click', () => {
    emailContainer.style.display = 'none';
    bottomButton.style.display = 'flex';
    bottomButton.textContent = 'Log In';
    passwordInput.value='';
    usernameInput.value='';
    passwordInput.classList.remove('error-placeholder');
    usernameInput.classList.remove('error-placeholder');
usernameInput.placeholder='Username';
passwordInput.placeholder='Password';
  });
console.log(bottomButton.textContent)
  bottomButton.addEventListener('click', (event) => {
    event.preventDefault();
    // If user wants to sign up:
    if (bottomButton.textContent === 'Sign Up') {
      // Validate Email
      let email = emailInput.value.trim();
      let uniqueEmail = true;
      usersArray.forEach(item => {
        if (item.email === email) {
          uniqueEmail = false;
        }
      });

      if (emailPattern.test(email) && uniqueEmail) {
        validEmail = true;
        emailInput.value = '';
        emailInput.classList.remove('error-placeholder');
        emailInput.placeholder = 'example@example.com';
      } else {
        validEmail = false;
        emailInput.value = '';
        emailInput.classList.add('error-placeholder');
        emailInput.placeholder = uniqueEmail ? 'Invalid E-mail' : 'E-mail already in use';
      }
      
      // Validate username
      let username = usernameInput.value.trim();
      if (username.length >= 6) {
        validUsername = true;
        usernameInput.classList.remove('error-placeholder');
        usernameInput.placeholder = 'Username';
      } else {
        validUsername = false;
        usernameInput.value = '';
        usernameInput.classList.add('error-placeholder');
        usernameInput.placeholder = 'Username must be at least 6 characters';
      }
      // Validate Password
      let password = passwordInput.value.trim();
      if (password.length >= 6) {
        validPassword = true;
        passwordInput.classList.remove('error-placeholder');
        passwordInput.placeholder = 'Password';
      } else {
        validPassword = false;
        passwordInput.value = '';
        passwordInput.classList.add('error-placeholder');
        passwordInput.placeholder = 'Password must be at least 6 characters';
      }
      
      // Add user to database
      if (validEmail && validUsername && validPassword) {
        let object = {};   
        object.email = email;
        object.username = username;
        // Hash the password in a real application before saving it
        object.password = password;
        usersArray.push(object);
        emailContainer.style.display = 'none'; 
        bottomButton.style.display = 'flex';
        bottomButton.textContent = 'Log In';
        usernameInput.value = '';
        passwordInput.value = '';
        emailInput.value = '';
        usernameInput.placeholder = 'Username';
        usernameInput.classList.remove('error-placeholder');
        passwordInput.placeholder = 'Password';
        passwordInput.classList.remove('error-placeholder');
        emailInput.placeholder = 'E-mail';
        emailInput.classList.remove('error-placeholder');
      }
    }
    

    // If user wants to log in
    if (bottomButton.textContent === 'Log In') {
      
      let username = usernameInput.value.trim();
      let password = passwordInput.value.trim();

      let foundUser = usersArray.find(item => item.username === username && item.password === password);
      
      if (foundUser) {
        // Perform successful login action here
        localStorage.setItem('isLoggedIn', true);
        localStorage.setItem('userName',username)
        window.location.href =myHbsVariable
        usernameInput.value = '';
        usernameInput.classList.remove('error-placeholder');
        usernameInput.placeholder = 'Username';
        passwordInput.value = '';
        passwordInput.classList.remove('error-placeholder');
        passwordInput.placeholder = 'Password';
      } else{
        passwordInput.value = '';
        passwordInput.classList.add('error-placeholder');
        passwordInput.placeholder = 'Wrong Password';
        usernameInput.value = '';
        usernameInput.classList.add('error-placeholder');
        usernameInput.placeholder = 'Wrong Username';
      }
    }
  });
</script>
</body>