{{!-- prettier-ignore --}}
<style>
     body{
  background:linear-gradient(60deg,lightgreen,lightblue) 
  } 
   
   .container{
    background-color:rgb(33, 174, 174); 
    position:absolute;
  top:30%;
  left:50%;
  transform:translate(-50%,-50%);
  width:50%;
  height:250px;
  box-shadow: 0 5px 25px rgb(255 255 255/40%);;
 }
  
  .registration{
  display:flex;
  justify-content: space-around ;
  margin-top:2%; 
   }

 form{display:flex;
 flex-direction:column;
 margin-top:5%;
align-items:center
 }
 label{
text-align: center;

 }

.buttons{
  box-shadow: 0 8px 8px 0 rgba(1, 1, 1, 0.1), 0 17px 50px 0 rgba(0,0,0,0.19);
background-color:rgb(193, 189, 193);
cursor:pointer;
  transition: 0.6s ease;
  border-radius:40px;
  }
.buttons:hover{
  box-shadow: 0 8px 8px 0 rgba(255, 255, 255, 0.40)
}
.block{
display:flex;
flex-direction:column;
width:40%;
}

.error-placeholder::placeholder{

  color:red;
}

</style>
<body>
  <div class='container'>
    <div class='registration'>
      <button
        id='signup-btn'
        style='width:100px;height:40px'
        class='buttons'
      >Sign Up</button>
      <button
        id='login-btn'
        style='width:100px;height:40px'
        class='buttons'
      >Login</button>
    </div>
    <form>
      <div id='email-container' class='block'>
        <label>Email:</label>
        <input type='email' id='emailInput' placeholder='example@example.com' />
      </div>
      <div class='block'>
        <label>Username:</label>
        <input type='Username' id='usernameInput' placeholder='Username' />
      </div>
      <div class='block'>
        <label>Password:</label>
        <input type='password' id='passwordInput' placeholder='Password' />
      </div>
      <div style='position:absolute;bottom:10px'>
        <button class='buttons' id='bottomButton'>Sign Up</button>
      </div>
    </form>
  </div>
  {{!-- prettier-ignore --}}
  <script>
    const signUpBtn = document.getElementById('signup-btn'); 
    const loginBtn =document.getElementById('login-btn'); 
    const emailContainer =document.getElementById('email-container');
    const bottomButton=document.getElementById("bottomButton");
    const emailInput=document.getElementById('emailInput');
    const usernameInput=document.getElementById('usernameInput');
    const passwordInput=document.getElementById('passwordInput');
    let usersArray=[];
    let validCredentials=false;
    let emailPattern=/^[^\s@]+@[^\s@]+\.[^\s@]+$/;
    let validEmail=false;
    let validUsername=false;
    let validPassword=false;
    let uniqueEmail=true;
    signUpBtn.addEventListener('click', () => {
      if(emailContainer.style.display==='none')
      { 
        emailContainer.style.display = emailContainer.style.display === 'none' ? 'flex' : 'none';
    bottomButton.style.display='none' ? 'flex' : 'none';
    bottomButton.textContent='Sign Up'
      }
     });

    loginBtn.addEventListener('click', () => { 
        emailContainer.style.display ='none'; 
         bottomButton.style.display = 'flex';
        bottomButton.textContent='Log In'
    });

bottomButton.addEventListener('click', () => {
  event.preventDefault();
  if (bottomButton.textContent === 'Sign Up') {
    // validate Email
    const email = emailInput.value.trim();
usersArray.forEach(item => {
  if(item.email===email)
     uniqueEmail=false
});
    if (emailPattern.test(email)) {
      validEmail = true;
      emailInput.value='';
      emailInput.classList.remove('error-placeholder');
      emailInput.placeholder = 'example@example.com';
    }else{
      validEmail=false
      emailInput.value = '';
      event.preventDefault();
      emailInput.classList.add('error-placeholder');
      emailInput.placeholder = 'Invalid E-mail';
    }
    if(uniqueEmail===false){
    validEmail=false;
    emailInput.value='';
    emailInput.classList.add('error-placeholder');
      emailInput.placeholder = 'E-mail already in use';

    } 
    
    // validate username
    const username = usernameInput.value.trim();
    if (username.length >= 6) {
      validUsername = true;
      usernameInput.classList.remove('error-placeholder');
      usernameInput.placeholder = 'Username';
    } else {
      usernameInput.value = '';
      event.preventDefault();
      usernameInput.classList.add('error-placeholder');
      usernameInput.placeholder = 'Username must be at least 6 characters';
    }
    
    // validate Password
    const password = passwordInput.value.trim();
    if (password.length >= 6) {
      validPassword = true;
      passwordInput.classList.remove('error-placeholder');
      passwordInput.placeholder = 'Password';
    } else {
      passwordInput.value = '';
      event.preventDefault();
      passwordInput.classList.add('error-placeholder');
      passwordInput.placeholder = 'Password must be at least 6 characters';
    }
    
    // add user to database
    if (validEmail && validUsername && validPassword) {
      let object = {};   
      object.email = email;
      object.username = username;
      object.password = password;
      usersArray.push(object);
      emailContainer.style.display ='none'; 
         bottomButton.style.display = 'flex';
        bottomButton.textContent='Log In'
    }
  }
});

  </script>
</body>